@import "globals.scss";

/*-----------------CONTACTO----------------------*/

.sectionContact{
    @include flex-center;
    height: 100vh;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.contact-form .form-control{
    border-radius:1rem;
}

.contact-image{
    text-align: center;
}

.contact-image img{
    border-radius: 6rem;
    height: 100px;
    width: 100px;
}


.contact-form h3{
    text-align: center;
    font-size: 3.5vw;
    font-weight: bold;
    color: #09FDD8;
    font-family: 'Comfortaa', cursive;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.social{
    width: 100%;
    @include flex-center;
    gap: 50px;
    i{
        font-size: 100px;
        color: #E0E0DF;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .contact-form{
        padding-top: 260px;
        gap: 20px;
        h3{
            font-size: 3rem;
        }
    }
}