@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import "index.scss";
@import "navbar.scss";
@import "sobremi.scss";
@import "habilidades.scss";
@import "portfolio.scss";
@import "contacto.scss";
@import "globals.scss";

$dark: #1D1D1D;
$light: #5c5c5c;

/*------------GENERAL---------------*/


*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: auto;
    scrollbar-color: #09fdd8 #3b3b3b;
}

*::-webkit-scrollbar {
width: 12px;
}

*::-webkit-scrollbar-track {
background: #3b3b3b;
}

*::-webkit-scrollbar-thumb {
background-color: #09fdd8;
border-radius: 10px;
border: 3px solid #ffffff;
}

body{
    background-color: #1D1D1D!important;
}

.carga{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $dark;
    z-index: 100;
    animation-fill-mode: both;
    animation-name: cargaOpacity;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-timing-function: ease;
    opacity: 1;
    @include flex-center;
    z-index: 1001;
}

.logoCarga{
    background-image: url(../public/images/icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}


@keyframes cargaOpacity {
    0%{opacity: 1;
    }
    
    100%{opacity: 0;
        z-index: -100;}
    
}



.indexFondo{
    background-image: url(../public/images/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}



section{
    width: 90vw;
    min-width: 1200px;
    max-width: 1400px;
    height: auto;
    margin: auto auto;
    box-sizing: border-box;
}

.separator{
    width: 100%;
    height: 30px;
}
/*------------RESPONSIVE--------*/

@media only screen and (max-width: 600px) {
    section{
        min-width: unset;
        max-width: unset;
    }
}